# Alex's Scratchpad

### Feature Engineering Notes
* NLP on pet description (use given sentiment analysis first?)
* Dog breed type categorizing
* Pure vs mixed class
* Breed encoding by # datapoints > threshold

In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression, LinearRegression, Lasso, Ridge, RidgeClassifierCV
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.metrics import make_scorer
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from quadratic_weighted_kappa import quadratic_weighted_kappa

C:\Users\alexg\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
train = pd.read_csv('data_minus_images/train.csv')

In [3]:
train.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [4]:
# Read sentiment file and extract score
def extract_sentiment(petID):
    try:
        with open('data_minus_images/train_sentiment/'+petID+'.json') as target:
            sentiment = json.load(target)
            magnitude, score = sentiment['documentSentiment'].values()
            language = sentiment['language']      
    except:
        magnitude, score, language = 0, 0, None
    return [magnitude, score, language]

In [5]:
extract_sentiment(train.iloc[0].PetID)

[2.4, 0.3, 'en']

In [6]:
def load_sentiments(pet_df):
    output = pet_df.set_index('PetID')
    output['magnitude'] = 0
    output['score'] = 0
    output['language'] = None
    for pet in output.index.values:
        sentiments = extract_sentiment(pet)
        output.loc[pet,['magnitude','score','language']] = sentiments
    return output.reset_index()

In [7]:
small_train = train.iloc[:100]
small_train

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2
5,2,NaN,3,266,0,2,5,6,0,2,...,1,1,0,41326,22fe332bf9c924d4718005891c63fbed,0,This is a stray kitten that came to my house. ...,d24c30b4b,2.0,2
6,2,BULAT,12,264,264,1,1,0,0,2,...,1,1,300,41326,1e0b5a458b5b77f5af581d57ebf570b3,0,anyone within the area of ipoh or taiping who ...,1caa6fcdb,3.0,1
7,1,Siu Pak & Her 6 Puppies,0,307,0,2,1,2,7,2,...,1,6,0,41326,1fba5f6e5480946254590d48f9c5198d,0,Siu Pak just give birth on 13/6/10 to 6puppies...,97aa9eeac,9.0,3
8,2,NaN,2,265,0,2,6,0,0,2,...,1,1,0,41326,d8af7afece71334473575c9f70daf00d,0,"healthy and active, feisty kitten found in nei...",c06d167ca,6.0,1
9,2,Kitty,12,265,0,2,1,7,0,2,...,1,1,0,41326,1f3f36e4b18e94855b3e88af0852fdc4,0,"Very manja and gentle stray cat found, we woul...",7a0942d61,2.0,4
10,1,Bear,2,307,0,1,1,2,7,2,...,1,1,0,41401,9238e4f44c71a75282e62f7136c6b240,0,"For serious adopter, please do sms or call for...",8b693ca84,7.0,1
11,2,Kali,3,264,0,2,1,2,5,3,...,1,1,50,41326,a9caef3f98e67bfac9093cca79e20b93,0,Kali is a super playful kitten who is on the g...,8e76c8e39,2.0,1
12,1,Peanut,2,307,0,1,2,5,6,2,...,1,1,0,41326,db784cbcf321e1d8856b312638b94113,0,Peanut was an abused puppy until he was rescue...,aaedd873d,1.0,2
13,2,2 Mths Old Cute Kitties,2,265,0,3,1,6,7,1,...,1,7,0,41326,2c118b2a1d1b4cf1f735089c7c0a07c0,0,Hi Pet Lovers! This is my first posting and I ...,4a9793dfb,1.0,1
14,1,Lost Dog,3,307,0,2,2,5,7,2,...,1,1,0,41401,b609c40c6c840db208b149a19b856f86,0,"Lost Dog Found (Bandar Menjalara, Kepong／Taman...",c02be41e6,2.0,2
15,1,Max,78,218,205,1,1,7,0,2,...,1,1,0,41326,39112c637c80a6055e8ec544416abffe,0,We moved out of our apartment to a landed home...,1fd342e17,2.0,4
16,2,Brownie,6,266,0,2,2,0,0,1,...,1,1,0,41326,58e3aa0b4b78e8879f81774ede0646fe,0,to be spayed on /12 adorable & friendly,b38a74866,1.0,3
17,1,Blackie,8,307,307,2,2,0,0,2,...,1,1,10,41330,4e3dec1544d1407fce5d65fd0f037e26,0,shes active... she can obey wht command that u...,f9d07d5fa,2.0,4
18,1,Beauty,2,307,0,2,1,0,0,2,...,1,1,0,41401,9238e4f44c71a75282e62f7136c6b240,0,This cutie dumped by it's owner at the market ...,1c92ce464,8.0,2
19,2,NaN,1,266,0,3,1,2,7,1,...,1,5,0,41326,b752f78276215f44581eeb6eea1e63bc,0,"Birth Date: Oct 30th Kitty 1, Melly -Female Sa...",b10e7605a,1.0,4
20,1,Godiva,12,307,0,2,2,7,0,2,...,1,1,0,41326,a042471e0f43f2cf707104a1a138a7df,0,Godiva was rescued in Serdang residential area...,6436c1a59,7.0,2
21,1,Tigers,3,307,0,2,6,0,0,2,...,1,3,0,41326,fa7cd6caa034d4332fc75d70807e83a3,0,"Three puppies abandoned on the street, picked ...",234a5a54c,5.0,4
22,2,"Kenit, Kenot, Techit, Keyad, Owen",0,114,0,3,3,6,7,2,...,1,10,0,41401,97be67995b53f86f64be212c867009fa,0,"My cats name is Kenit, Kenot,Owen, Keyad, Manj...",1bc0f89d8,0.0,4
23,1,Donut,10,307,117,2,1,2,7,2,...,1,1,0,41326,aa66486163b6cbc25ea62a34b11c9b91,0,Donut is a friendly doggie and very domesticat...,1bf24d8be,0.0,4
24,2,Cikenet,3,266,0,1,2,7,0,1,...,1,1,0,41401,b8853c71b981104f1ef126e51387b616,0,"hello cikenets fans, i just wanna inform that ...",988988d5b,19.0,1
25,2,Garfield,36,285,251,1,3,0,0,3,...,1,1,0,41326,001e42763024f9d4abe31e79472b1827,0,Garfield is a very large cat. Needs daily groo...,cf7d3eec0,3.0,2
26,2,No Name,2,285,265,1,3,0,0,2,...,1,1,0,41401,1b9bb5275677d26b00604f24439c81fc,0,healthy toilet trained cute easy to look after...,85fc3c314,11.0,1
27,2,No Name,1,266,0,2,1,0,0,2,...,1,1,0,41326,2f846fb8f87a25678374e193559d83c9,0,"Just saved this kitten from the street, but i ...",efbf1703a,2.0,2
28,1,Hunter,14,189,0,1,1,2,0,3,...,1,1,1,41326,cbc97ee98ae458e5deecedbc648e90d2,0,"healthy and active , skinny and tall, as the m...",7843a9dca,0.0,3
29,2,Pepper,1,266,0,2,2,7,0,1,...,1,1,0,41327,86552e2f34c929a01f7841cbd8865b20,0,This kitten found at the roadside. Stay there ...,d341fbfd6,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,QiQi,36,307,0,2,1,2,0,2,...,1,5,0,41326,2147467fcd35e7a3bc23b9edcffc5702,0,I rescued QiQi with her sibling (Xiao Bai -) 3...,a9bc357f0,1.0,4
71,1,H3,1,307,307,2,1,2,0,2,...,1,1,0,41326,b53c34474d9e24574bcec6a3d3306a0d,0,Dog 4 Adoption,aaf4a1439,1.0,3
72,1,Baby / Bubbles,2,141,128,1,1,2,7,1,...,1,1,0,41401,d2ec92fbdbf1e452b57cd25b3d51bc72,0,3 month-old male puppy for adoption. a cross b...,1e62e6022,5.0,1
73,1,Ollie,2,307,0,1,1,2,0,1,...,1,1,0,41326,0e18b1cafeff35a2ba291e3c7e31255d,0,he's rescued from the industrial park. very ac...,4e797dcdd,3.0,4
74,1,9 Puppies For Adoption!,1,173,96,3,1,2,7,2,...,1,9,100,41335,80ecb2b31b27d310c829d09e1570cef9,0,I have two litters of puppies for adoption.. T...,45d2ddcb8,5.0,2
75,1,Coco,2,307,0,2,2,5,0,2,...,1,1,0,41336,31de822d0adce3e2dad7dcedfbee2ba8,0,Hi Coco is a rescued puppy from the streets. I...,259b10a3e,1.0,0
76,1,Pebbles & Pepper,2,307,0,2,1,0,0,3,...,1,2,0,41326,603f4e699a92fb6b4f0479c1a3c6e13f,1,These 2 beautiful puppies were left at the par...,d2490c888,3.0,4
77,1,Zoe,12,307,0,2,2,0,0,2,...,1,1,0,41326,bb37f98b63ae488316a12dc070c4d075,0,Adopted her at a drive at Citta Mall when she ...,2c93c0c11,3.0,3
78,1,Z3,2,307,307,1,2,0,0,2,...,1,1,0,41326,b53c34474d9e24574bcec6a3d3306a0d,0,For Adoption,35593da00,5.0,1
79,1,NaN,1,307,0,2,2,7,0,2,...,1,1,0,41326,89c6f93e7aa2c394634306ac9efe4072,0,This puppy is currently living in an abandoned...,4cc70e613,1.0,3
80,1,MPSP-F-01,2,307,0,2,1,2,0,2,...,1,1,0,41327,3223e1c4cb2bef48823ee5c604b9aa04,0,Puppy saved from MPSP pound yesterday. She is ...,ff125cf8d,1.0,4
81,1,Teddy,3,207,0,1,1,2,0,1,...,1,1,750,41326,d03a75a35edc98d0c4eaab6cc0157d0b,0,he is the best breed of the so you can train h...,c30dd6e9a,2.0,1
82,1,Tanto In Kulim,3,307,0,1,1,7,0,2,...,1,1,0,41325,5b713a4d7902d3e516f80a0761afc403,0,Tanto needa a good home...he is a beautiful an...,be9474b85,1.0,2
83,1,Cody,3,307,141,1,5,0,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Lovely puppy with good nature looking for a ho...,815f4cc08,3.0,3
84,2,Malee,6,265,0,2,5,7,0,2,...,1,1,50,41326,74dabecce4ddb0c4d08892255974496b,0,"Read story about Malee at She's very active,pl...",ec5069cf6,4.0,3
85,1,Mayo 2 Pups,1,307,0,2,1,2,0,2,...,1,2,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Very adorable and cute puppies Commitment to s...,867308404,3.0,2
86,2,Lulu,47,250,285,2,1,2,0,2,...,1,1,0,41326,299e22e2f31f5a1be0fa923ca3cd90a3,0,I've had lulu since she was just a few weeks o...,e9df3ead7,2.0,4
87,1,Rottweiler Puppy,2,189,307,1,1,2,0,3,...,1,1,0,41326,5cbf7860da1936f71acb44d6c1b8b292,0,We was found this dog from a roadside i think ...,258667857,4.0,2
88,1,Lion Dog In Training,12,307,0,2,5,0,0,2,...,1,1,0,41330,f2522890ad604bf70421af61cb871a96,3,"Nickki is mixed breed,female, one year plus, f...",fd3172797,11.0,3
89,1,Molly,2,307,76,1,1,7,0,2,...,1,1,0,41326,e03a1162538a0414d6c79823ad6c2744,4,"Mochi, momo and Molly are siblings, about 3 mo...",8df0bb3b3,18.0,3
90,1,Rocky 06,1,307,0,1,2,0,0,2,...,1,1,0,41330,f2522890ad604bf70421af61cb871a96,0,Puppies are five week old and looking for good...,3d0752cd9,5.0,3
91,2,Kiki & Lala,1,266,266,3,2,3,7,1,...,1,2,0,41326,623948fc0c0269298e8aa2493b7dd2a7,0,"I rescuer them from road side, they both were ...",22051ab84,3.0,4
92,1,NaN,1,307,307,3,2,7,0,2,...,1,5,0,41326,61fe7e6f5cc3f8e40dcb5f14147f38fe,0,Mother and her puppies were found in Bayu Ting...,573b3ec3d,0.0,4
93,2,Si Kuning,24,266,0,1,4,0,0,3,...,2,1,0,41324,e6ea7180b4e5320b0006e6e2f65397d9,0,Saya jumpa kucing ini yang datang di rumah. Mu...,370fe2afb,12.0,3
94,2,Xiao Huang,24,266,0,2,2,4,0,2,...,1,1,0,41326,c5dd3fa6810843a5806906d1991af7f4,0,location: Klang contact no.,dd308e46b,1.0,4
95,1,HeiHei,2,307,0,1,1,2,0,2,...,1,1,0,41327,051023f822efb1612c95900fa7656f39,0,HeiHei was picked up from Penang SPCA on 6th A...,6a763a055,2.0,3
96,2,Manja,19,285,0,2,1,6,0,3,...,1,1,0,41401,12c51d7222986fbf000db9061f5082be,0,NaN,5e4154870,3.0,1
97,1,Miko,4,207,169,2,2,0,0,1,...,1,1,0,41401,c00756f2bdd8fa88fc9f07a8309f7d5d,0,"very cute, obedient, friendly, playful and act...",a44d42407,3.0,3
98,1,Fei Chai,24,307,0,1,2,7,0,2,...,1,1,0,41336,53b2190d32ed23e43daf8b6bb7ca4231,0,Please adopt him!!! He need a home urgently. L...,cc8401c02,3.0,3
99,2,NaN,3,265,0,1,1,7,0,2,...,1,1,0,41326,c3f6408e1ee043b38bd0d39558b8edf5,0,owner desert them.....,0f24b6cd6,1.0,1

In [8]:
test = load_sentiments(small_train)
test.head()

,PetID,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,...,Fee,State,RescuerID,VideoAmt,Description,PhotoAmt,AdoptionSpeed,magnitude,score,language
0,86e1089a3,2,Nibble,3,299,0,1,1,7,0,...,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,1.0,2,2.4,0.3,en
1,6296e909a,2,No Name Yet,1,265,0,1,1,2,0,...,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,2.0,0,0.7,-0.2,en
2,3422e4906,1,Brisco,1,307,0,1,2,7,0,...,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,7.0,3,3.7,0.2,en
3,5842f1ff5,1,Miko,4,307,0,2,1,2,0,...,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",8.0,2,0.9,0.9,en
4,850a43f90,1,Hunter,1,307,0,1,1,0,0,...,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,3.0,2,3.7,0.6,en

### Add Sentiments

In [9]:
add_sentiments = load_sentiments(train)

### Add dog breed group, purebred label

In [10]:
breeds = pd.read_csv('data_minus_images/breed_labels.csv')

In [11]:
encoding = pd.read_csv('breed_group_encoding.csv', header=None,encoding = "ISO-8859-1")
encoding.set_index(0,inplace=True)
group_dict = encoding.to_dict()[1]

In [12]:
# Add breedname for group processing
add_breeds = pd.merge(add_sentiments,breeds.drop(columns=['Type']),left_on='Breed1',right_on='BreedID').drop(columns=['BreedID'])
# Preload with empty columns
add_breeds['BreedGroup'] = 'MISC'
add_breeds['BreedGroupID'] = 8

In [13]:
add_breeds.columns

Index(['PetID', 'Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1',
       'Color2', 'Color3', 'MaturitySize', 'FurLength', 'Vaccinated',
       'Dewormed', 'Sterilized', 'Health', 'Quantity', 'Fee', 'State',
       'RescuerID', 'VideoAmt', 'Description', 'PhotoAmt', 'AdoptionSpeed',
       'magnitude', 'score', 'language', 'BreedName', 'BreedGroup',
       'BreedGroupID'],
      dtype='object')

In [14]:
group_ID=pd.DataFrame.from_dict({'MIXED':0,
                                  'HERDING':1,
                                  'HOUND':2,
                                  'TOY':3,
                                  'NON-SPORTING':4,
                                  'SPORTING':5,
                                  'TERRIER':6,
                                  'WORKING':7,
                                  'MISC':8,
                                  'FSS':9},orient='index',columns=['BreedID'])
group_ID

              BreedID
MIXED               0
HERDING             1
HOUND               2
TOY                 3
NON-SPORTING        4
SPORTING            5
TERRIER             6
WORKING             7
MISC                8
FSS                 9

In [15]:
# TODO: fix mixed breed label to account for multiple animals
def group_encoding(row):
    try:
        if row['Type']==2:
            row['BreedGroup']='CAT'
            row['BreedGroupID']=-1
        elif row['Breed1']==307 or row['Breed2']!=0:
            row['BreedGroup']='MIXED'
            row['BreedGroupID']=0
        else:
            group = group_dict[row['BreedName']]
            row['BreedGroup'] = group
            row['BreedGroupID'] = group_ID.loc[group].BreedID
    except:
        pass
    return row

In [16]:
add_groups = add_breeds.apply(group_encoding,axis=1)
# Add purebred flag
add_groups['purebred']=~((add_groups['BreedGroup']=='MIXED')|(add_groups['Breed2']!=0))*1

### Add Description Length

In [17]:
add_groups['desc_len'] = add_groups['Description'].apply(lambda x: len(str(x)))
add_groups['start_cap'] = add_groups['Description'].apply(lambda x: 1*(str(x)[0]!=str(x)[0].lower()))
add_groups[['Description','desc_len','start_cap']]

                                             Description  desc_len  start_cap
0      Nibble is a 3+ month old ball of cuteness. He ...       359          1
1               Manja, comel ,dan memahami perasaan org.        40          1
2      This tabby was found by the clinic, has been s...       707          1
3      Found her when she's just about a weeks old at...       130          1
4      My cat's offspring Cham is lively and loves pl...        99          1
5      Looking for a playful, caring and affectionate...       869          1
6      Ashley and Ginger have been left to fend for t...       587          1
7      rescued a kitten at housing area. we are unabl...       144          0
8      Milk Milk & Mio Mio are cheerful kitten.They w...       163          1
9      KaKa is one of the 3 siblings with ChaoChao & ...       408          1
10     Simba is a 1 year old friendly male tabby. He ...      1078          1
11     Found them both in the middle of the road. The...       180          1
12            It was given birth by my pet cat in March.        42          1
13     Cobey was rescued from the drain at the tender...       110          1
14     Mouse is a very tame cat. He now lives in a co...       292          1
15     A total of 5 beautiful Tabbys available for ad...       304          1
16     very obedient, tahu nama dia, manja, get along...       383          0
17     found this little girl at Kajang town, almost ...       171          0
18     Meet Munchkin. Found all alone in this world b...       263          1
19     She is a very manja cat and do love attention....       571          1
20     Vodka is an adorable cat, great with human, an...        58          1
21     Peanut was rescued when he was about 2 months ...       346          1
22     I rescued Musang from a drain, he need a home....        94          1
23     Two love cats, is some ways husband and wife. ...       359          1
24        Looking for new home.healthy and litter train.        46          1
25     3 orange kitten (2 plain & 1 wif sum spots str...       360          0
26     Kittens up for adoption. Age 2 months old. Pot...       172          1
27     I found this cat crying outside my house in th...       546          1
28     LULU is a very cute cat but pretty shy and afr...       191          1
29     Felix was dumped in front of my office in KD f...       326          1
...                                                  ...       ...        ...
14958  she's a papillon mix maltese. she's very lovin...       300          0
14959  when i was walking back home after work at chi...       841          0
14960  4 of them have extra toes (as their mother's)....       818          0
14961  Luna was rescued from the undercarriage of a c...       786          1
14962  Roddy was found at shops in Ara Damansara. We ...       382          1
14963  Both adopted turned out to be boys so named To...       502          1
14964  Benjie was found loitering at my porch gate 10...       990          1
14965  Lovely puppy looking for a forever home. If u ...        88          1
14966  I found them yesterday at Lekas highway beside...       412          1
14967  I found them yesterday at Lekas highway beside...       412          1
14968  Missha is looking for a forever home. If u are...        83          1
14969  I am an owner of 2 dogs (Japanese Mixed Spitz)...       683          1
14970  She is just a stray.. Anyone who love cat can ...       541          1
14971  i have a very cute local dog . i am looking fo...       135          0
14972  This is a good dog. She needs a good home. Onl...        65          1
14973  This is a good dog. Only serious and genuine d...       100          1
14974  PLayful Young Kittens for adoption. Active and...        64          1
14975  Round, cute, playful and friendly. Come view M...       203          1
14976                         kiara love to eat and play        26          0
14977  Found a group of 7 motherless pups in Hulu Lan...        81          1
14978  2 years old mixed terrier welsh corgi waiting ...       209          0
14979  Hello People! My name is Princess. Princess in...       600          1
14980  I am cute, energetic swedish lapphud mix dog y...       729          1
14981                    Dec/ Adopted, Kuala Lumpur area        31          1
14982  hi... helping my fren to find adopter to his p...       187          0
14983  Kitty is a mixed breed beautiful female cat. K...       339          1
14984  Are you ready for the cat-parrot? I found Wonk...      1967          1
14985  i have a very cute local dog . i am looking fo...       135          0
14986  this dog belongs to my neighbor. My neighbor d...       327          0
14987  This cute little puppy was rescued by my neigh...       620          1

[14988 rows x 3 columns]

### Add Color Count, Name Flag

In [18]:
add_groups['num_colors']=1*(add_groups['Color1']>0)+1*(add_groups['Color2']>0)+1*(add_groups['Color3']>0)
add_groups['has_name']=~pd.isnull(add_groups['Name'])*1

### Dummify categoricals

In [19]:
dummify = [
    'Gender'
    ,'Type'
]
add_groups.columns

Index(['PetID', 'Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1',
       'Color2', 'Color3', 'MaturitySize', 'FurLength', 'Vaccinated',
       'Dewormed', 'Sterilized', 'Health', 'Quantity', 'Fee', 'State',
       'RescuerID', 'VideoAmt', 'Description', 'PhotoAmt', 'AdoptionSpeed',
       'magnitude', 'score', 'language', 'BreedName', 'BreedGroup',
       'BreedGroupID', 'purebred', 'desc_len', 'start_cap', 'num_colors',
       'has_name'],
      dtype='object')

In [20]:
dummies = pd.get_dummies(add_groups[dummify],columns=dummify)
add_dummies = pd.concat([add_groups,dummies],axis=1)

### Drop Columns and Fit Models

In [21]:
model_train = add_dummies
model_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14988 entries, 0 to 14987
Data columns (total 40 columns):
PetID            14988 non-null object
Type             14988 non-null int64
Name             13732 non-null object
Age              14988 non-null int64
Breed1           14988 non-null int64
Breed2           14988 non-null int64
Gender           14988 non-null int64
Color1           14988 non-null int64
Color2           14988 non-null int64
Color3           14988 non-null int64
MaturitySize     14988 non-null int64
FurLength        14988 non-null int64
Vaccinated       14988 non-null int64
Dewormed         14988 non-null int64
Sterilized       14988 non-null int64
Health           14988 non-null int64
Quantity         14988 non-null int64
Fee              14988 non-null int64
State            14988 non-null int64
RescuerID        14988 non-null object
VideoAmt         14988 non-null int64
Description      14976 non-null object
PhotoAmt         14988 non-null float64
AdoptionSpeed    14988 non-null int64
magnitude        14988 non-null float64
score            14988 non-null float64
language         14199 non-null object
BreedName        14988 non-null object
BreedGroup       14988 non-null object
BreedGroupID     14988 non-null int64
purebred         14988 non-null int32
desc_len         14988 non-null int64
start_cap        14988 non-null int64
num_colors       14988 non-null int32
has_name         14988 non-null int32
Gender_1         14988 non-null uint8
Gender_2         14988 non-null uint8
Gender_3         14988 non-null uint8
Type_1           14988 non-null uint8
Type_2           14988 non-null uint8
dtypes: float64(3), int32(3), int64(22), object(7), uint8(5)
memory usage: 4.0+ MB

In [22]:
seed = 10
drop_columns = [
                'Name'
                ,'Breed1'
                ,'Breed2'
                ,'RescuerID'
                ,'Description'
                ,'PetID'
                ,'AdoptionSpeed'
                ,'language'
                ,'BreedGroup'
                ,'BreedName'
                ,'Color1'
                ,'Color2'
                ,'Color3'
                ,'State'
               ]
target = 'AdoptionSpeed' 
X = model_train.drop(columns=drop_columns+dummify)
y = model_train[target].astype('str')

sclr = StandardScaler()
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=seed)
X_train = sclr.fit_transform(X_train)
X_val = sclr.transform(X_val)

C:\Users\alexg\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\alexg\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\alexg\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.

In [23]:
def quadratic_weighted_kappa_scorer(estimator, X, y):
    pred_class = np.argmax(estimator.predict(X),axis=1)
    y_class = np.argmax(y,axis=1)
    score = quadratic_weighted_kappa(pred_class,y_class,min_rating=0,max_rating=4)
    return score

In [24]:
log = LogisticRegression(multi_class='ovr')
log.fit(X_train, y_train)
log_pred = log.predict(X_val)

ridge_cv = RidgeClassifierCV(alphas=(0.1,.5,1,2,5,10),scoring=quadratic_weighted_kappa_scorer, cv=10)
ridge_cv.fit(X_train, y_train)
ridge_pred = ridge_cv.predict(X_val)

C:\Users\alexg\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [25]:
gbc = GradientBoostingClassifier(subsample=0.9, max_features=X_train.shape[1]//3, random_state=seed, verbose=1,learning_rate=0.1, n_estimators=100, max_leaf_nodes=1000, min_samples_split=5)
gbc.fit(X_train, y_train)
gbc_pred = gbc.predict(X_val)

      Iter       Train Loss      OOB Improve   Remaining Time
         1       16628.4170          33.8151            8.78s
         2       16359.6968          26.9287            7.55s
         3       16119.0103          24.5354            8.68s
         4       15919.4016          19.9505            8.68s
         5       15732.6781          19.2223            9.96s
         6       15566.3465          17.0646            9.53s
         7       15423.3063          11.5131            9.63s
         8       15289.4637          11.5905           10.19s
         9       15192.3989          10.6279           10.33s
        10       15087.4590           8.5543           10.17s
        20       14410.3009           2.5288            7.67s
        30       14129.3355           0.7426            6.76s
        40       13864.3072          -0.5806            5.83s
        50       13670.0951          -0.6643            4.88s
        60       13494.7569           0.1713            3.96s
        70       13321.3286          -0.7987            2.91s
        80       13227.0716          -0.3678            1.92s
        90       13087.1324          -1.1580            0.93s
       100       12976.0367          -0.4971            0.00s

In [26]:
print(quadratic_weighted_kappa(log_pred,y_val))
print(quadratic_weighted_kappa(ridge_pred,y_val))
print(quadratic_weighted_kappa(gbc_pred,y_val))

0.21047077500935585
0.20115001207557204
0.3091648917675981

In [27]:
gbc_pred

array(['1', '4', '1', ..., '4', '4', '4'], dtype=object)

### Gradient Boosting hyperparameter tuning

Workflow notes:
* Define starting parameters: high learning rate (default = 0.1 is fine) and tree params
* Tune number of trees (trade-off with learning rate)
* Tune tree parameters

In [31]:
# Starting params
learning_rate = 0.1 # default
min_samples_split = int(X_train.shape[0]//100)
min_samples_leaf = int(min_samples_split//10)
max_depth = 5 # small sample size
max_features = 'sqrt'
subsample=0.8
first_gbc = GradientBoostingClassifier(min_samples_split=min_samples_split,
                                       min_samples_leaf=min_samples_leaf,
                                       max_depth=max_depth,
                                       max_features=max_features,
                                       subsample=subsample,
                                       random_state=seed)

In [32]:
def quadratic_weighted_kappa_gbc_scorer(estimator, X, y):
    pred_class = estimator.predict(X)
    y_class = y
    score = quadratic_weighted_kappa(pred_class,y_class,min_rating=0,max_rating=4)
    return score

In [33]:
trees = {'n_estimators':range(20,81,10)}#[20,30,40,50,60,70,80]}
GSCV_1 = GridSearchCV(estimator = first_gbc,
                      param_grid = trees,
                      scoring=quadratic_weighted_kappa_gbc_scorer,
                      n_jobs=-1, iid=False, cv=5, verbose=1)
GSCV_1.fit(X_train, y_train)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  35 out of  35 | elapsed:   49.9s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=5,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=11, min_sa...      subsample=0.8, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
       fit_params=None, iid=False, n_jobs=-1,
       param_grid={'n_estimators': range(20, 81, 10)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=<function quadratic_weighted_kappa_gbc_scorer at 0x000001BF09AE8620>,
       verbose=1)

In [34]:
# Optimal tree count:
GSCV_1.best_params_, GSCV_1.best_score_

({'n_estimators': 80}, 0.32883233131970924)

In [35]:
n_estimators = GSCV_1.best_params_['n_estimators']
forest_sizes = {'max_depth':range(5,16,2),
                'min_samples_split':range(200,1001,200)}
second_gbc = GradientBoostingClassifier(min_samples_split=min_samples_split,
                                       min_samples_leaf=min_samples_leaf,
                                       n_estimators=n_estimators,
                                       max_depth=max_depth,
                                       max_features=max_features,
                                       subsample=subsample,
                                       random_state=seed)
GSCV_2 = GridSearchCV(estimator = second_gbc,
                      param_grid = forest_sizes,
                      scoring=quadratic_weighted_kappa_gbc_scorer,
                      n_jobs=-1, iid=False, cv=5, verbose=1)
GSCV_2.fit(X_train,y_train)
GSCV_2.best_params_, GSCV_2.best_score_

Fitting 5 folds for each of 30 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:  6.6min finished

({'max_depth': 11, 'min_samples_split': 600}, 0.3358124253432269)

In [36]:
# Tune features and leaf_sizes
max_depth, min_samples_split = GSCV_2.best_params_.values()
tree_params = {'max_features':range(7,20,4),'min_samples_leaf':range(30,71,10)}
last_gbc = GradientBoostingClassifier(min_samples_split=min_samples_split,
                                       n_estimators=n_estimators,
                                       max_depth=max_depth,
                                       subsample=subsample,
                                       random_state=seed)
GSCV_3 = GridSearchCV(estimator = last_gbc,
                      param_grid = tree_params,
                      scoring=quadratic_weighted_kappa_gbc_scorer,
                      n_jobs=-1, iid=False, cv=5, verbose=1)
GSCV_3.fit(X_train,y_train)
GSCV_3.best_params_, GSCV_3.best_score_

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  9.0min finished

({'max_features': 11, 'min_samples_leaf': 40}, 0.33720269988507134)

In [37]:
max_features, min_samples_leaf = GSCV_3.best_params_.values()